html, body, #root, #root div {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

rect, circle {
  fill: red;
  opacity: 0.3;
  opacity:1;
}

circle.d3line-circle {
  fill: steelblue;
}

.line-path{
  fill:none;
  stroke: maroon;
  stroke-width: 5;
  stroke-linejoin: round;
}

text {
  font-size: 2em;
  font-family: sans-serif;
}

.tick text {
  font-size: 1.7em;
  fill: #635f5d;
}

.tick line {
  stroke: #C0C0BB
}

.axis-label {
  font-size: 2.7em;
  fill: #8E8883;
}

.title {
  font-size: 2.2em;
  fill: #615F5D;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}