html, body, #root, #root div {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* include cicle for scatter plot */

/* rect, circle {
  fill: red;
  opacity: 1;
}

circle.d3-pattern {
  fill: #c11d1d;
  opacity: 1;
} */

.sphere {
  fill: #4242e4;
  stroke: black;
  stroke-opacity: 0.1;
}

.country {
  fill: lightgreen;
  stroke: black;
  stroke-width: 0.05px;
}

.country:hover {
  fill: red;
}

.d3-world-map-svg {
  background-color: lightgrey;
}

.d3-tree-svg path {
  fill: none;
  stroke:#57bdc3;
}

.d3-tree-svg text {
  font-size: 12px;
  text-shadow: 
  -1px -1px 3px white,
  -1px 1px 3px white,
  1px -1px 3px white,
  1px 1px 3px white;

}

circle.d3-pattern-exit {
  fill: black;
  opacity: 1;
}

circle.d3line-circle {
  fill: steelblue;
}

circle.basic-circle {
  fill: yellow;
}

circle.eye, rect.eye-brow {
  fill: black !important;
}

.line-path {
  fill: none;
  stroke: maroon;
  stroke-width: 5;
  stroke-linejoin: round;
}

.area-path {
  fill: maroon;
}

rect {
  fill: #e5ddbc;
}

text {
  font-size: 2em;
  font-family: sans-serif;
}

text.nested-element {
  font-size: 1em;
  text-anchor: middle;
  font-family: sans-serif;
}

.tick text {
  font-size: 1.7em;
  fill: #635f5d;
}

.tick line {
  stroke: #C0C0BB
}

.axis-label {
  font-size: 2.7em;
  fill: #8E8883;
}

.title {
  font-size: 2.2em;
  fill: #615F5D;
  text-anchor: middle;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}