html, body, #root, #root div:last-child {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  width: 25%;
  box-sizing: border-box;
}

.sphere {
  fill: #4242e4;
  stroke: black;
  stroke-opacity: 0.1;
}

.spherelight {
  fill: #9e9ead;
  stroke: black;
  stroke-opacity: 0.1;
}

.country {
  /* fill: lightgreen; */
  stroke: black;
  stroke-width: 0.05px;
}

.country.highlighted {
  stroke-width: 1px;
}

.country:hover {
  fill: red;
}

.d3-world-map-svg, .d3-circle-map {
  background-color: lightgrey;
}

.d3-circle-map {
  height: 100vh;
  width: 100%;
}

.d3-tree-svg path {
  fill: none;
  stroke: #57bdc3;
}

.d3-tree-svg text {
  text-shadow: -1px -1px 3px white, -1px 1px 3px white, 1px -1px 3px white, 1px 1px 3px white;
}

circle.d3-pattern-exit {
  fill: black;
  opacity: 1;
}

circle.d3line-circle {
  fill: steelblue;
}

circle.country-circle, circle.legendtick, .sizecircle {
  fill: #00d1bf;
  fill-opacity: 0.489216;
  stroke: black;
  stroke-width: 0.3;
  pointer-events: none;
}

circle.basic-circle {
  fill: yellow;
}

circle.eye, rect.eye-brow {
  fill: black !important;
}

.line-path, .line-path-multi {
  fill: none;
  stroke-width: 5;
  stroke-linejoin: round;
}

.line-path {
  stroke: maroon;
}

.line-path-melting-data {
  fill: none;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-linecap: round;
  mix-blend-mode: multiply;
}

.line-path-multi {
  stroke-linecap: round;
  mix-blend-mode: multiply;
}

.area-path {
  fill: maroon;
}

rect {
  fill: #e5ddbc;
}

rect.choro {
  fill: white;
}

text, .select-menu {
  /* font-size: 2em; */
  font-family: 'Playfair Display', serif, sans-serif;
}

text.nested-element {
  font-size: 1em;
  text-anchor: middle;
  font-family: 'Playfair Display', serif, sans-serif;
}

text.nested-element-choro-map {
  font-size: 0.8em;
  font-family: 'Playfair Display', serif, sans-serif;
}

.legend-row {
  cursor: pointer;
}

.tick text {
  font-size: 1.7em;
  fill: #635f5d;
}

.tick text.textblack {
  font-size: 1.7em;
  fill: #000;
}

.tick line {
  stroke: #C0C0BB
}

.axis-label {
  font-size: 2.7em;
  fill: #8E8883;
}

.title {
  font-size: 2.2em;
  fill: #615F5D;
  text-anchor: middle;
}

.legend-title {
  font-size: 1.7em;
}

.scatter-plot-with-menus-title {
  font-size: 2.2em;
  fill: #615F5D;
}

.d3-scatter-plot-car-circle {
  color: red;
}

.menuwrapper {
  display: flex;
  justify-content: space-evenly;
}

.select-menu {
  font-size: 1em;
}

.select-menu option {
  font-size: 1em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}